<% if @user.errors.any? %>
    <ul data-turbo-cache="false">
        <% @user.errors.each do |error| %>
            <li class="alert"><%= error.full_message %></li>
        <% end %>
    </ul>
<% end %>
