<menu>

    <% [{text: 'about_me', url: edit_account_about_path },
        {text: 'my_address', url: edit_account_address_path },
        {text: 'change_email', url: edit_account_email_path },
        {text: 'change_password', url: edit_password_path },
        {text: 'browser_sessions', url: sessions_path }].each do |link| %>
        <li>
            <%= link_to_unless_current t('account.details.menu.'+link[:text]), link[:url] %>
        </li>
    <% end %>

    <li><%= link_to t('button.sign_out'), sign_out_path %></li>

</menu>

<%= render "account/shared/errors" %>
