<div>
  <%= t('account.sign_in_with') %>:
  <%= button_to "Facebook", "/auth/facebook", "data-turbo" => false %>
  | <%= button_to "Google", "/auth/google_oauth2", "data-turbo" => false %>
  | <%= button_to "OmniAuth", "/auth/developer", "data-turbo" => false %>
</div>
