<footer>
  <div class="wrapper">
    <div id="copyright">
      <span>&copy;</span>
      <span itemprop="copyrightYear"><%= Date.today.year %></span>
      <span itemprop="copyrightHolder">Example.com</span>
    </div>
  </div>
</footer>
