<h1><%= t('title.pages.index') %></h1>

<div id="pages">
  <% @collection.each do |page| %>
    <div id="<%= dom_id page %>">
      <p>
        <%= page.title %>
      </p>
  <% end %>
</div>

<%= render partial: 'layouts/shared/pagination', locals: { pagination: @pagination } %>
