input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
}

form.button_to {
    display: inline
}

.field {
    margin: 1.5rem auto;
    position: relative;
}

.field + .field {
    margin-top: 2rem;
}

.field label {
    cursor: text;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    line-height: 3;
    transition: all .3s;
    opacity: .5;
}

.field label::selection {
    background: transparent;
    color: inherit;
}

.field [required] + label:after {
    content: '*';
}

.field input {
    width: 100%;
    line-height: 3;
}

.field textarea {
    padding-top: .75rem !important;
    width: 100%;
}

.field [data-has-value="yes"] + label,
.field [value]:not([value=""]):not([data-has-value="no"]) + label,
.field :-webkit-autofill + label,
.field :-webkit-autofill:hover + label,
.field :-webkit-autofill:focus + label,
.field :-webkit-autofill:active + label,
.field textarea:not(:empty):not([data-has-value="no"]) + label,
.field textarea:focus + label,
.field input:focus + label {
    font-size: 75%;
    transform: translateY(-1.5rem);
    opacity: 1;
}

.field input[data-has-value="yes"]:invalid {
    border-color: red;
}

.field input[data-has-value="yes"]:invalid + label {
    color: red;
}
