@font-face {
    font-family: 'e-Ukraine-Light';
    src: url('e-Ukraine-Light.eot');
    src: url('e-Ukraine-Light#iefix') format('embedded-opentype'),
            url('e-Ukraine-Light.woff') format('woff'),
            url('e-Ukraine-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-Ukraine-Bold';
    src: url('e-Ukraine-Bold.eot');
    src: url('e-Ukraine-Bold#iefix') format('embedded-opentype'),
            url('e-Ukraine-Bold.woff') format('woff'),
            url('e-Ukraine-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'e-UkraineHead-Bold';
    src: url('e-UkraineHead-Bold.eot');
    src: url('e-UkraineHead-Bold#iefix') format('embedded-opentype'),
            url('e-UkraineHead-Bold.woff') format('woff'),
            url('e-UkraineHead-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, input, textarea, button {
    font-weight: normal;
    font-family: "e-Ukraine-Light",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

strong, b {
    font-weight: normal;
    font-family: 'e-Ukraine-Bold';
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'e-UkraineHead-Bold';
}
