a {
    position: relative;
}

a:after {
    content: '';
    width: 0px;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: all .2s;
}

a:hover:after {
    width: 100%;
}

menu li {
    cursor: default;
    font-family: "e-Ukraine-Bold";
}

menu li a {
    font-family: "e-Ukraine-Light"
}
